<!DOCTYPE html>
<html>
<head>
 	<title>RailsSaber</title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= yield :css %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="imagens/favicon.ico">

    <title>Rails Saber</title>

</head>

<body class= <%= controller.controller_name %> >

	<div id="container">
	    
		<!--%= yield %-->

      <%= render 'layouts/header' %>

  <%= yield %>

	</div>
</body>
</html>
