<!DOCTYPE html>
<html>
<head>
 	<title>RailsSaber</title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= yield :css %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Shadows+Into+Light" %>

  	<%= csrf_meta_tags %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    
   
    <title>Rails Saber</title>

</head>

<body class= <%= controller.controller_name %> >

	<div id="container">
	    
	  <%= render 'layouts/header' %>

  <%= yield %>

	</div>
</body>
</html>
